html, body {
    width: 100%;
    height: 100%;
    color: #004989;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    display: table;
    /*    padding-top: 10em;
    padding-bottom: 7em;*/
}

head {
    background-image: url(image/favicon.ico);
}

.bldProgress {
    height: 64px;
    color: rgba(83, 83, 83, 1);
    border: 2px solid rgba(83, 83, 83, 0.1);
    padding-left: 15px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.175);
}

.bldName {
    line-height: 64px;
    float: left;
}

.smallWait {
    background: url(/images/progress.gif) 50% 50% no-repeat;
    height: 64px;
    width: 64px;
    float: right;
}

.wait {
    background: url(/images/wait.gif) 50% 50% no-repeat;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.35);
    z-index: 10000;
    position: fixed;
    padding: 0;
    margin: 0;
}

.top-header {
    /* fixed size */
    flex: none;
    padding: 15px;
    font-size: 3em;
    font-weight: bold;
    background: #185f7d; /*#32145a;*/ /*#535353;*/
    color: white;
    height: 100px;
}

.user {
    font-size: small;
    font-weight: bold;
}

#bigLogo {
    width: 72px;
    height: 72px;
    float: left;
    margin: 0 10px 0 0;
    background: url(/images/sdl-72x72.png) no-repeat;
}


.navbar {
    border-radius: 0;
}

.navbar-inverse {
    background-color: #707070; /*#004989;*/
}

    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
        color: #fff;
        outline: none;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        background-color: #000;
    }

    .navbar-inverse .navbar-nav > li > a {
        margin-top: 10px;
        color: #8eafe6;
        text-transform: uppercase;
        font: 14px/1.1em Signika,sans-serif;
    }

.pager li > a, .pager li > span {
    display: block;
    background-color: transparent;
    border: none;
    font-size: medium;
    color: red;
}

.pager .previous > a, .pager .previous > span {
    float: left;
}

.pager .next > a, .pager .next > span {
    float: right;
}

.pager li > a:hover, .pager li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.analyze-container {
    margin: 0 100px;
    overflow: auto;
}

.page-content {
    /* resize in container */
    flex: 1;
    /* IMPORTANT for FireFox */
    overflow-y: auto;
    overflow-x: hidden;
    /* new flex container for content */
    display: flex;
    flex-direction: row;
    max-height: 900px;
}

.sidebar-left {
    background: #eee;
    width: 100%;
    color: #32145a;
    border-right: 5px #fff solid;
    padding: 20px;
    min-height: 500px;
    overflow: hidden;
}

.slnContent {
    overflow: auto;
}

.ui-resizable {
    position: relative;
}

.msgs {
    overflow: hidden;
}

.resize-container {
    height: 100%;
    background-color: #eee;
    border-right: 2px #fff solid;
}

.ui-resizable, .ui-resizable-resizing {
    min-width: 40%;
    max-width: 70%;
}

.content-container {
    flex: 1 1 auto;
    background: #eee;
    padding: 20px;
    /*  width: 100%;
   min-width: 400px;*/
    overflow-y: auto;
    overflow-x: hidden;
    /*display: flex;*/
    border-left: 2px #fff solid;
    /* new flex for content/ads*/
    /*flex-direction: row;*/
}

.main-content {
    /*flex: 1 1 auto;*/
    width: 100%;
    padding: 10px;
    /*min-width: 300px;*/
    /*overflow:auto;*/
}

form[name="searchForm"] {
    margin: 15px;
}

.homeMsg {
    padding: 4em 2em;
    margin: 5em;
    background-color: #eceeef;
    border-radius: 1.5em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white;
    background-color: #535353;
    overflow: hidden;
}

#bldmsgCtr {
    display: inline-block;
    background-color: bisque;
}

    #bldmsgCtr div {
        background-color: transparent;
    }

#assembly {
    background-color: antiquewhite;
    border: 2px solid #808080;
    padding: 5px;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

th {
    cursor: pointer;
}

table tr:nth-child(odd) {
    background-color: #e9eadc;
    /*#f1f1f1;*/
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

.polling_message {
    color: #fdae03;
    float: left;
    margin-left: 2%;
}

.view_port {
    background-color: black;
    height: 34px; /*25px;*/
    width: 200px;
    overflow: hidden;
    display: inline-block;
    margin-left: 13px;
    line-height: 34px;
}

.successInd {
    color: white;
    height: 100%;
    width: 200px;
    background-color: #00ff00;
}

.errorInd {
    color: white;
    height: 100%;
    width: 200px;
    background-color: #ff0000;
}





.progressInd {
    color: white;
    height: 100%;
    width: 40%;
    background-color: #60ed16;
    background-image: -webkit-linear-gradient(left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    background-image: -moz-linear-gradient(left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    background-image: -o-linear-gradient(left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    background-image: linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    -webkit-animation: needle 4s linear 0s infinite alternate;
    -moz-animation: needle 4s linear 0s infinite alternate;
    -o-animation: needle 4s linear 0s infinite alternate;
    animation: needle 4s linear 0s infinite alternate;
}

@-webkit-keyframes needle {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 100%;
    }
}

@-moz-keyframes needle {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 100%;
    }
}

@-o-keyframes needle {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 100%;
    }
}

@keyframes needle {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 100%;
    }
}

.cloneDetails {
    /*height: 40px;*/
    margin: 5px;
    padding-top: 10px;
}

.cloneUri {
    display: inline-block;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    line-height: 34px;
}

.tooltip-inner {
    color: #fff;
    background-color: #000;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    max-width: 100%;
}

    .tooltip-inner .tooltip-arrow {
        display: none;
    }

.dropup, .dropdown {
    position: absolute;
}

.btn-build:hover {
    color: #e6e7e8;
    background-color: #8eafe6;
    border-color: #707070;
}

.btn-build {
    color: #fff;
    background-color: #4d6082;
    border-color: #293955;
}

.btn-analyze {
    top: 20%;
    position: relative;
    float: right;
    right: 1%;
    margin-left: 5px;
}

.btn-build-log {
    top: 20%;
    position: relative;
    float: right;
    right: 1%;
}

.btn-log {
    color: #fff;
    background-color: #fdae03;
    border-color: #d43f3a;
    vertical-align: top;
}

.checklabel {
    margin: 0 30px;
}

/*.dropdown-menu {
    top: 100%;
    left: 0px;
    z-index: 1000;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0px 6px 12px rgba(0,0,0,0.175);
    overflow:hidden;
}*/

.dropdown-menu {
    overflow: hidden;
}

.checkbox input[type='checkbox'], .checkbox-inline input[type='checkbox'] {
    position: absolute;
    margin-left: -40px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    height: 30px;
    width: 30px;
}

.checkbox label {
    padding-left: 20px;
    font-weight: normal;
    cursor: pointer;
    width: 100%;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/***/
.horizontal-collapse {
    height: 70px;
}

.panel-default > .panel-heading {
    background-color: #707070;
}

.panel-title > a {
    color: #fff;
    text-decoration: none;
}

.view {
    padding-top: 14em;
    padding-bottom: 6em;
}

.leftrightjustify {
    padding-left: 3em;
    padding-right: 3em;
}

.row-full-height {
    height: 100%;
}

.row-same-height {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.col-lg-height {
    display: table-cell;
    float: none !important;
}

.col-full-height {
    height: 100%;
    vertical-align: top;
}
/*[class*="col-lg-"] {
    background: transparent;
}*/

.page-left.ng-enter,
.page-left.ng-leave,
.page-right.ng-enter,
.page-right.ng-leave {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -ms-transition: .7s ease-in-out;
    -webkit-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
}

.page-left.ng-enter {
}

    .page-left.ng-enter.ng-enter-active {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

.page-left.ng-leave {
    z-index: 100;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

    .page-left.ng-leave.ng-leave-active {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

.page-right.ng-enter {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

    .page-right.ng-enter.ng-enter-active,
    .page-right.ng-leave {
        position: absolute;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

        .page-right.ng-leave.ng-leave-active {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }
